In [30]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
#from info import username,password

import matplotlib.pyplot as plt
import numpy as np
from flask import Flask, jsonify
#import datetime as dt

# python SQL toolkit
# Python SQL toolkit and Object Relational Mapper

#dont need
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func

In [31]:
postgress_user='postgres'
postgress_password='postgres'

In [32]:
brewery_csv_file = "Resources/breweries.csv"
breweries_test_df = pd.read_csv(brewery_csv_file)
breweries_test_df[str('state').strip()]

0       MN
1       KY
2       MA
3       CA
4       CA
      ...
553     LA
554     WI
555     CA
556     NY
557     AK
Name: state, Length: 558, dtype: object

In [3]:
# connection = psycopg2.connect(user="postgres",
#                                   password="Bandit01!",
#                                   host="localhost",
#                                   port="5432",
#                                   database="beer_db")

In [4]:
# connection = psycopg2.connect(user="postgres",
#                                   password="Bandit01!",
#                                   host="127.0.0.1",
#                                   port="5432",
#                                   database="beer_db")

In [33]:
rds_connection_string = f"{postgress_user}:{postgress_password}@localhost:5432/beer_db"

In [34]:
#rds_connection_string = f"{username}:{password}@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [35]:
engine.table_names()

['Breweries', 'Beers']

In [36]:
pd.read_sql_query('select * from "Breweries"', con=engine).head(100)

    brewery_id                                name           city state
0            0                  NorthGate Brewing     Minneapolis    MN
1            1           Against the Grain Brewery     Louisville    KY
2            2            Jack's Abby Craft Lagers     Framingham    MA
3            3           Mike Hess Brewing Company      San Diego    CA
4            4             Fort Point Beer Company  San Francisco    CA
..         ...                                 ...            ...   ...
95          95                  Blackrocks Brewery      Marquette    MA
96          96      Catawba Valley Brewing Company      Morganton    NC
97          97              Tröegs Brewing Company        Hershey    PA
98          98                     Mission Brewery      San Diego    CA
99          99  Christian Moerlein Brewing Company     Cincinnati    OH

[100 rows x 4 columns]

In [37]:
pd.read_sql_query('select * from "Beers"', con=engine).head(100)

,beer_id,beer_name,beer_style,abv,ibu,brewery_id,ounces
0,1436,Pub Beer,American Pale Lager,5%,0,408,12
1,2265,Devil's Cup,American Pale Ale (APA),7%,0,177,12
2,2264,Rise of the Phoenix,American IPA,7%,0,177,12
3,2263,Sinister,American Double / Imperial IPA,9%,0,177,12
4,2262,Sex and Candy,American IPA,8%,0,177,12
...,...,...,...,...,...,...,...
95,2222,10 Ton,Oatmeal Stout,7%,0,94,16
96,837,Desolation IPA,American IPA,6%,43,401,16
97,2592,Liberty Ale,American IPA,6%,0,35,12
98,2578,IPA,American IPA,6%,0,35,12
99,2577,Summer Wheat,American Pale Wheat Ale,4%,0,35,12

In [38]:
Breweries_df=pd.read_sql_query('select * from "Breweries"', con=engine)
Breweries_df=pd.DataFrame(Breweries_df)
#Breweries_df=Breweries_df.set_index('brewery_id')
Breweries_df

     brewery_id                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [39]:
Beers_df=pd.read_sql_query('select * from "Beers"', con=engine)
Beers_df=pd.DataFrame(Beers_df)
#Beers_df=Beers_df.set_index('beer_id')
Beers_df

,beer_id,beer_name,beer_style,abv,ibu,brewery_id,ounces
0,1436,Pub Beer,American Pale Lager,5%,0,408,12
1,2265,Devil's Cup,American Pale Ale (APA),7%,0,177,12
2,2264,Rise of the Phoenix,American IPA,7%,0,177,12
3,2263,Sinister,American Double / Imperial IPA,9%,0,177,12
4,2262,Sex and Candy,American IPA,8%,0,177,12
...,...,...,...,...,...,...,...
2405,928,Belgorado,Belgian IPA,7%,45,424,12
2406,807,Rail Yard Ale,American Amber / Red Ale,5%,0,424,12
2407,620,B3K Black Lager,Schwarzbier,6%,0,424,12
2408,145,Silverback Pale Ale,American Pale Ale (APA),6%,40,424,12
2409,84,Rail Yard Ale (2009),American Amber / Red Ale,5%,0,424,12

In [40]:
# combine dataframes
Merged_df = pd.merge(Breweries_df, Beers_df)
Merged_df

,brewery_id,name,city,state,beer_id,beer_name,beer_style,abv,ibu,ounces
0,0,NorthGate Brewing,Minneapolis,MN,2692,Get Together,American IPA,4%,50,16
1,0,NorthGate Brewing,Minneapolis,MN,2691,Maggie's Leap,Milk / Sweet Stout,5%,26,16
2,0,NorthGate Brewing,Minneapolis,MN,2690,Wall's End,English Brown Ale,5%,19,16
3,0,NorthGate Brewing,Minneapolis,MN,2689,Pumpion,Pumpkin Ale,6%,38,16
4,0,NorthGate Brewing,Minneapolis,MN,2688,Stronghold,American Porter,6%,25,16
...,...,...,...,...,...,...,...,...,...,...
2405,556,Butternuts Beer and Ale,Garrattsville,NY,52,Heinnieweisse Weissebier,Hefeweizen,5%,0,12
2406,556,Butternuts Beer and Ale,Garrattsville,NY,51,Snapperhead IPA,American IPA,7%,0,12
2407,556,Butternuts Beer and Ale,Garrattsville,NY,50,Moo Thunder Stout,Milk / Sweet Stout,5%,0,12
2408,556,Butternuts Beer and Ale,Garrattsville,NY,49,Porkslap Pale Ale,American Pale Ale (APA),4%,0,12
2409,557,Sleeping Lady Brewing Company,Anchorage,AK,30,Urban Wilderness Pale Ale,English Pale Ale,5%,0,12

### SQLALCEMY SETUP

In [13]:
# DONT NEED ANY SQL ALCHEMY

In [14]:
# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)

In [15]:
# Base.classes.keys()

In [16]:
# Breweries =Base.classes.Breweries
# Beers = Base.classes.Beers
# session =Session(engine)

In [17]:
# session.query(Breweries)

### QUERIES, FUNCTIONS, ROUTES

In [41]:
Breweries_df=Breweries_df.set_index('brewery_id')
Beers_df=Beers_df.set_index('beer_id')
Merged_df=Merged_df.set_index('beer_id')

In [19]:
#df.loc[df['column_name'] == some_value]

In [42]:
Breweries_df.loc[Breweries_df['state']=='FL']

Empty DataFrame
Columns: [name, city, state]
Index: []

In [21]:
def getBreweries_byState(State='None'):
        if State=='None':
            #json_string=Breweries_df.to_json()
            json_string=Breweries_df.sort_values(by=['state']).to_json() 
        else: 
            State=State.upper()
            json_string =Breweries_df.loc[Breweries_df['state']==State].to_json()
        return(json_string)

In [22]:
def getBreweries_byCity(City='None'):
        if City=='None':
            #json_string=Breweries_df.to_json()
            json_string=Breweries_df.sort_values(by=['city']).to_json()    
        else: 
            City=City.title()
            json_string =Breweries_df.loc[Breweries_df['city']==City].to_json()
        return(json_string)

In [23]:
def getBreweries_byType(Type='None'):
        if Type=='None':
            #json_string=Breweries_df.to_json()
            json_string='Please supply a beer type: Ex.. Lager, Stout, hefeweizen  '   
        else: 
            Type=Type.lower()
            json_string =Merged_df.sort_values(by=['state']).loc[Merged_df['beer_style']==Type].to_json()
        return(json_string)

In [24]:
getBreweries_byType('Cider')

'{"brewery_id":{},"name":{},"city":{},"state":{},"beer_name":{},"beer_style":{},"abv":{},"ibu":{},"ounces":{}}'

### FLASK

In [26]:
app = Flask(__name__)

@app.route("/")
def index():
      routes='''
      <p>
      API end points for search breweries and beers.  
      </p>
      Routes:
            <ul>
            <li><a href="/api/v1.0/Breweries">/api/v1.0/Breweries</a>
            <li>/api/v1.0/Cities/&ltCityName&gt
            <li><a href="/api/v1.0/State">/api/v1.0/State</a>
            <li>/api/v1.0/State/&ltstateCode&gt    
            <li>/api/v1.0/Beers/&ltbyType&gt
            </ul>'''   
      return routes

@app.route("/api/v1.0/Breweries")
def Brewereies():
    return getBreweries_byState()

@app.route("/api/v1.0/State")
def State():
    return getBreweries_byState()

@app.route("/api/v1.0/State/<stateCode>")
def breweriesByState(stateCode):
    return getBreweries_byState(stateCode)

@app.route("/api/v1.0/Cities/<cityName>")
def Cities(cityName):
    return getBreweries_byCity(CityName)

    
@app.route("/api/v1.0/Beers/<beerType>")
def beersByType(beerType):
    return getBreweries_byType(beerType) 


# 4. Define main behavior
if __name__ == "__main__":
       app.run()
    #    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Feb/2020 19:46:10] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Feb/2020 19:46:25] "GET /api/v1.0/State/%20FL HTTP/1.1" 200 -