In [1]:
%%writefile info.py
username = ""
password = ""

Overwriting info.py

In [2]:
# Import Pandas to read in .CSV's and clean the data.
import pandas as pd

# Import Create_Engine from SQLAlchemy to start a database connection.
from sqlalchemy import create_engine

from config import username, password

In [3]:
# Read in beers.csv and create it as a data frame.
beer_csv_file = "Resources/beers.csv"
beers_df = pd.read_csv(beer_csv_file)

renamed_beers_df = beers_df.rename(columns={"id": "beer_id", "name": "beer_name", "style": "beer_style"})
renamed_beers_df.head()

,Unnamed: 0,abv,ibu,beer_id,beer_name,beer_style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [11]:
# Create a cleaned up data frame for beers_df and apply percentage formatting to the 'abv' column.
new_beers_df = renamed_beers_df[["beer_id", "beer_name", "beer_style", "abv", "brewery_id", "ounces"]].copy()
new_beers_df["abv"] = new_beers_df["abv"].apply('{:.0%}'.format)
new_beers_df['beer_style'] = new_beers_df['beer_style'].fillna("")
new_beers_df.head()

,beer_id,beer_name,beer_style,abv,brewery_id,ounces
0,1436,Pub Beer,American Pale Lager,5%,408,12.0
1,2265,Devil's Cup,American Pale Ale (APA),7%,177,12.0
2,2264,Rise of the Phoenix,American IPA,7%,177,12.0
3,2263,Sinister,American Double / Imperial IPA,9%,177,12.0
4,2262,Sex and Candy,American IPA,8%,177,12.0

In [5]:
# Read in breweries.csv and create it as a data frame.
brewery_csv_file = "Resources/breweries.csv"
breweries_df = pd.read_csv(brewery_csv_file)
new_breweries_df = breweries_df.rename(columns={"Unnamed: 0": "brewery_id"})
new_breweries_df.head()

   brewery_id                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [6]:
rds_connection_string = f"{username}:{password}@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [13]:
new_breweries_df.to_sql(name='Breweries',  con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_Breweries"
DETAIL:  Key (brewery_id)=(0) already exists.

[SQL: INSERT INTO "Breweries" (brewery_id, name, city, state) VALUES (%(brewery_id)s, %(name)s, %(city)s, %(state)s)]
[parameters: ({'brewery_id': 0, 'name': 'NorthGate Brewing ', 'city': 'Minneapolis', 'state': ' MN'}, {'brewery_id': 1, 'name': 'Against the Grain Brewery', 'city': 'Louisville', 'state': ' KY'}, {'brewery_id': 2, 'name': "Jack's Abby Craft Lagers", 'city': 'Framingham', 'state': ' MA'}, {'brewery_id': 3, 'name': 'Mike Hess Brewing Company', 'city': 'San Diego', 'state': ' CA'}, {'brewery_id': 4, 'name': 'Fort Point Beer Company', 'city': 'San Francisco', 'state': ' CA'}, {'brewery_id': 5, 'name': 'COAST Brewing Company', 'city': 'Charleston', 'state': ' SC'}, {'brewery_id': 6, 'name': 'Great Divide Brewing Company', 'city': 'Denver', 'state': ' CO'}, {'brewery_id': 7, 'name': 'Tapistry Brewing', 'city': 'Bridgman', 'state': ' MI'}  ... displaying 10 of 558 total bound parameter sets ...  {'brewery_id': 556, 'name': 'Butternuts Beer and Ale', 'city': 'Garrattsville', 'state': ' NY'}, {'brewery_id': 557, 'name': 'Sleeping Lady Brewing Company', 'city': 'Anchorage', 'state': ' AK'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [12]:
new_beers_df.to_sql(name='Beers', con=engine, if_exists='append', index=False)